body {
    background:white,
    
}

.slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }


 


  .slick-next,
  .slick-prev {
    z-index: 1;
    
   
  }

  .slick-next {
   margin: 2;
   margin-left : 30px
  }

  
  

.card {
    border: 1px solid white;
    background: #000;
    height: 350px;
    overflow: hidden;
    color: whitesmoke;
    cursor: pointer;

}



.card-top h4 {
    margin: 10px 20px;
}

.card-top > img {
height: 100%;
width: 100%;
object-fit: cover;
}

.Popular-card {
    width: 94%;
    margin: 0 auto;
    margin-top: 50px;
}

.card-bottom {
    margin: 10px 20px;
    position: relative;
}



